<footer class="footer">
			<div id="footer-first-level">
				<img
					src="/images/png/logo-no-background.png"
					alt="logo"
					height="100" />
				<div id="useful-links">
					<h3>Useful Links</h3>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<li>
							<a href="#">FAQs</a>
						</li>
						<li>
							<a href="https://tfl.gov.uk/">Tfl website</a>
						</li>
					</ul>
				</div>

				<form id="form" method="post">
					<h3>Subscribe to our newsletter</h3>
					<p>
						<strong
							><em
								>Monthly digest of what's new and exciting from us</em
							></strong
						>
					</p>
					<div id="name-input">
						<input
							class="newsletter"
							id="fName"
							type="text"
							name="fName"
							placeholder="First Name" />
						<input
							class="newsletter"
							id="lName"
							type="text"
							name="lName"
							placeholder="Last Name" />
					</div>
					<input
						class="newsletter"
						id="email"
						type="email"
						placeholder="Email address" />
					<button type="button">Subscribe</button>
				</form>
			</div>

			<div class="copyright">
				<p>© <%= new Date().getFullYear() %> Company, Inc. All rights reserved.</p>
				<div id="social-media">
					<ul>
						<li>
							<a href="https://www.facebook.com/don4dolex"
								><img
									src="/images/icons/facebook-app-symbol.png"
									alt="fb-logo"
									width="20"
							/></a>
						</li>
						<li>
							<a href="https://www.https://www.instagram.com/harvey.dwg/"
								><img
									src="/images/icons/instagram.png"
									alt="instagram-logo"
									width="20"
							/></a>
						</li>
						<li>
							<a href="https://twitter.com/HARVEY_dwg"
								><img
									src="/images/icons/twitter.png"
									alt="twitter logo"
									width="20"
							/></a>
						</li>
						<li>
							<a href="https://github.com/HarveyPy-1"
								><img
									src="/images/icons/github.png"
									alt="github logo"
									width="20"
							/></a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>
