<%- include("partials/header.ejs") %>
<main class="about-us">
	<head id="hero">
		<img
			id="hero-image"
			src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
			alt="hero-image" />
		<div id="hero-text">About Us</div>
	</head>
	<section id="main-text">
		<div class="introduction-text">
			<h1><u>Who we are</u></h1>
			<div id="introduction">
				<h2>Introduction</h2>
				<p>
					At Harvey Rails, we pride ourselves on being a dynamic and
					forward-thinking company that is committed to delivering excellence in
					all aspects of our operations. As a leading player in London rail
					industry, we have built a reputation for innovation, reliability, and
					customer-centricity. Our journey began with a vision to create a
					transformative impact on the world by leveraging cutting-edge
					technologies and fostering a culture of collaboration and continuous
					improvement.
				</p>
			</div>
		</div>
		<hr
			style="
				margin-right: 40px;
				margin-left: 40px;
				border-top: 0.5px solid grey;
			" />
		<div id="about-images">
			<img
				src="https://images.unsplash.com/photo-1504697570352-47c3bbc09af9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80"
				width="450"
				alt="boy reading a map" />

			<img
				src="https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80"
				width="300"
				alt="looking at map on phone" />
		</div>
        <hr
			style="
				margin-right: 40px;
				margin-left: 40px;
				border-top: 0.5px solid grey;
			" />
		<div class="mission-text">
			<h2>Our Mission</h2>
			<p>
				At the heart of our company lies a clear and inspiring mission: to
				empower our clients and partners to reach new heights of success through
				our innovative solutions and unwavering dedication to their needs. We
				believe in providing exceptional value, and our mission drives us to go
				above and beyond to deliver results that exceed expectations.
			</p>
		</div>
	</section>
</main>
<%- include("partials/footer.ejs") %>
