/* Header and nav section */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#top {
    display: flex;
    height: 150px;
    /* padding-top: 0; */
    /* margin-top: 0; */
    justify-content: space-between;
    background-color: rgb(74, 189, 74);
}

#nav-bar {
    display: flex;
    /* height: 100px; */
    background-color: rgb(74, 189, 74);
    justify-content: flex-end;
    color: white;
    align-items: center;
}

#nav-bar li {
    padding-right: 50px;
    list-style: none;
}

#nav-bar li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#nav-bar li a:hover {
    text-decoration: underline;
}

/* Main body section */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1568820577012-d581e7debd21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

#center-box {
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 0 50px 50px 50px;
    border-radius: 10px;
    border-top: 50px solid grey;
    margin-top: 0px;
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.2) */
}

h1 {
    padding-top: 0;
    margin-top: -40px;
    margin-bottom: 50px;
    text-align: center;
}

input {
    height: 40px;
    border: 0.5px solid rgb(233, 225, 225);
    border-radius: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    font-size: 15px;
}

input:focus {
    outline: 2px solid rgb(74, 189, 74);
    z-index: 1;
}

select {
    height: 40px;
    width: 145px;
    border: 0.5px solid rgb(233, 225, 225);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight:lighter
}

select:focus {
    outline: 2px solid rgb(74, 189, 74);
    z-index: 1;
}

/* input[name="departure"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

#date-time-selector {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#date-time-selector input {
    width: 140px;
}

input[type="date"] {
    font-size: 14px;
}

input[type="time"] {
    font-size: 14px;
}


#button-line {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}



/* #date-time-selector input::placeholder {
    font-size: 15px;
} */

/* input[name="destination"] {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */

button {
    background-color: rgb(74, 189, 74);
    color: white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: 140px;
    font-size: 14px;
    margin-left: 15px;
}

button:hover {
    background-color: rgb(58, 148, 58);
}

#box-and-arrow {
    display: flex;
}

#box-and-arrow img{
    margin-top: 25px;
}
/* Style for suggestions list */
#suggestions1 {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    position: absolute;
    background-color: #f1f1f1;
    /* border: 1px solid #ccc; */
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions1 li {
    padding: 8px 12px;
    cursor: pointer;
    width: 300px;
    color: black;
}

#suggestions1 li:hover {
    background-color: #ddd;
}

/* Style for suggestions list 2*/
#suggestions2 {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    position: absolute;
    background-color: #f1f1f1;
    /* border: 1px solid #ccc; */
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions2 li {
    padding: 8px 12px;
    cursor: pointer;
    width: 300px;
    color: black;
}

#suggestions2 li:hover {
    background-color: #ddd;
}

/* Style for footer */

footer {
    background-color: rgb(218, 215, 215);
}

#footer-first-level {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#useful-links {
    display: flex;
    flex-direction: column;
}

#footer-first-level li {
    all: unset;
    display: flex;
}

#footer-first-level li a {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: -40px;
}

#footer-first-level li a:hover {
    text-decoration: underline;
}

#name-input {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#footer-first-level img {
    padding-top: 50px;
}

#social-media li {
    all: unset;
    padding-right: 20px;
}