/* Header and nav section */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#top {
    display: flex;
    height: 150px;
    /* padding-top: 0; */
    /* margin-top: 0; */
    justify-content: space-between;
    background-color: rgb(74, 189, 74);
}

#nav-bar {
    display: flex;
    /* height: 100px; */
    background-color: rgb(74, 189, 74);
    justify-content: flex-end;
    color: white;
    align-items: center;
}

#nav-bar li {
    padding-right: 50px;
    list-style: none;
}

#nav-bar li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
}

#nav-bar li a:hover {
    text-decoration: underline;
}

/* Main body section */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1568820577012-d581e7debd21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

#center-box {
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 0 50px 50px 50px;
    border-radius: 10px;
    border-top: 50px solid grey;
    margin-top: 0px;
    /* box-shadow: 10px 10px rgba(0, 0, 0, 0.2) */
}

h1 {
    padding-top: 0;
    margin-top: -40px;
    margin-bottom: 50px;
    text-align: center;
}

input {
    height: 40px;
    border: 0.5px solid rgb(233, 225, 225);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

input::placeholder {
    font-size: 15px;
}

input:focus {
    outline: 2px solid rgb(74, 189, 74);
    z-index: 1;
}

select {
    height: 40px;
    width: 145px;
    border: 0.5px solid rgb(233, 225, 225);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: lighter
}

select:focus {
    outline: 2px solid rgb(74, 189, 74);
    z-index: 1;
}

select:hover {
    cursor: pointer;
}

/* input[name="departure"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

#date-time-selector {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#date-time-selector input {
    width: 140px;
}

input[type="date"] {
    font-size: 14px;
}

input[type="time"] {
    font-size: 14px;
}


#button-line {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}



/* #date-time-selector input::placeholder {
    font-size: 15px;
} */

/* input[name="destination"] {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */

button {
    background-color: rgb(74, 189, 74);
    color: white;
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    width: 140px;
    font-size: 14px;
    margin-left: 15px;
}

button:hover {
    background-color: rgb(58, 148, 58);
}

#box-and-arrow {
    display: flex;
}

#box-and-arrow img {
    margin-top: 25px;
}

/* Style for suggestions list */
#suggestions1 {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    position: absolute;
    background-color: #f1f1f1;
    /* border: 1px solid #ccc; */
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions1 li {
    padding: 8px 12px;
    cursor: pointer;
    width: 300px;
    color: black;
}

#suggestions1 li:hover {
    background-color: #ddd;
}

/* Style for suggestions list 2*/
#suggestions2 {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    position: absolute;
    background-color: #f1f1f1;
    /* border: 1px solid #ccc; */
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}

#suggestions2 li {
    padding: 8px 12px;
    cursor: pointer;
    width: 300px;
    color: black;
}

#suggestions2 li:hover {
    background-color: #ddd;
}

/* Style for footer */

footer {
    background-color: rgb(218, 215, 215);
}

#footer-first-level {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-right: 20px;
}

#link-and-logo {
    display: flex;
    width: 1100px;
    justify-content: space-around;
}

/* #footer-logo {
    padding-right: 150px;
} */
*/ #useful-links {
    display: flex;
    flex-direction: column;
    /* padding-right: 150px; */
}

#footer-first-level li {
    all: unset;
    display: flex;
    margin-right: -100px;
}

#footer-first-level li a {
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: -40px;
}

#footer-first-level li a:hover {
    text-decoration: underline;
}

#name-input {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#footer-first-level img {
    padding-top: 50px;
}

#social-media li {
    all: unset;
    padding-right: 20px;
}

#form button {
    margin-left: 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Transport details page */

#results-page {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 1200px; */
}

#line-img {
    margin-top: -30px;
    margin-bottom: 40px;
}

#results-page h1 {
    padding-bottom: none;
    margin-bottom: none;
}

#results-top {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: none;
}

.station {
    width: 250px;
}

/* #departure-station {
    margin-right: 50px;
}

#arrival-station {
    margin-left: 50px;
} */

em {
    font-weight: lighter;
}

/* Style the table */
table {
    width: 800px;
    border-collapse: collapse;
    margin-left: 50px;
    margin-bottom: 20px;
    border: none;
}

/* Style the table rows */
tr:nth-child(odd) {
    background-color: rgb(194, 193, 193);
    /* Light color for odd rows */
}

tr:nth-child(even) {
    background-color: #ffffff;
    /* White color for even rows */
}

/* Style the table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

#top-cell {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#bottom-cell {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#bottom-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

#bottom-buttons button {
    background-color: blue;
    border-radius: 5px;
}

#bottom-buttons button:hover {
    background-color: rgb(3, 3, 145);
}

#bottom-buttons #back-button {
    background-color: red;
    border-radius: 5px;
}

#bottom-buttons #back-button:hover {
    background-color: rgb(161, 2, 2);
}

#bottom-buttons #back-button a {
    text-decoration: none;
    color: white;
}

.fa {
    padding-right: 10px;
}

/* About us page */

#hero {
    /* height: 300px;
    width: 100%; */
    position: relative;
    text-align: center;
    /* color: white; */
}

#hero-image {
    width: 100%;
    height: 300px;
    /* position: absolute; */
    object-fit: cover;
    filter: brightness(50%);
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -150px;
    color: white;
    font-size: 80px;
    font-weight: 900;
}

.introduction-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    height: 350px;
}

.introduction-text h1 {
    font-size: 60px;
}

#introduction h2 {
    font-size: 30px;
}

#introduction p {
    font-size: 25px;
}

.mission-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 800px;
    height: 350px;
}

.mission-text h2 {
    font-size: 30px;
}

.mission-text p {
    font-size: 25px;
}

#about-images {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1
}

/* CONTACT US PAGE */

.contact-us-form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-us-form input {
    width: 600px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
}

.contact-us-form textarea {
    width: 600px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

textarea::placeholder {
    font-size: 15px;
}

textarea:focus {
    outline: 2px solid rgb(74, 189, 74);
    z-index: 1;
}

.contact-us-form button {
    margin-left: 0;
    width: 160px;
    background-color: blue;
    border-radius: 5px;
}



/* Responsiveness for smaller screens */
@media only screen and (max-width: 767px) {

    /* HEADER */
    /* Adjust the height of the nav bar for smaller screens */
    #top {
        height: 100px;
    }

    /* Reduce padding and font size for smaller screens */

    #nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #nav-bar li {
        padding-right: 20px;
    }

    #nav-bar li a {
        font-size: 16px;
    }

    #nav-logo {
        width: 240px;
    }

    /* FOOTER */
    #footer-first-level {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #link-and-logo {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        width: 0;
        /* margin: 0;
        padding: 0; */
    }

    #footer-logo {
        height: 80px;
        margin-right: 30px;
        margin-top: 30px;
        margin-left: -40px;
    }

    #footer-first-level {
        margin-right: 10px;
        margin-left: 10px;
    }

    #subscribe-div {
        display: flex;
        justify-content: flex-end;
    }

    /* ABOUT US */
    #hero {
        width: 412px;
    }

    #hero-text {
        /* padding-top: -50px */
        font-size: 50px;
        position: relative;
        margin-left: 65px;
        padding-bottom: 40px;
        /* margin-top: 5px; */
    }

    .introduction-text h1 {
        font-size: 40px;
        margin-top: 30px;
    }

    #introduction p {
        font-size: 18px;
    }

    #about-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 900px;
        justify-content: space-around;
        padding: none;
    }

    .mission-text p {
        font-size: 18px;
    }

    .mission-text {
        margin-top: 40px;
    }

    hr {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    /*Contact Us*/

    .contact-us-form h1 {
        margin-top: 20px;
    }

    .contact-us-form input {
        width: 400px;
        height: 40px;
        font-size: 16px;
    }

    .contact-us-form textarea {
        width: 400px;
    }

    #send-message-button {
        display: flex;
        justify-content: flex-end;
    }

    .info-text {
        position: relative;
        margin-left: -20px;
    }

    /* RESULTS TABLE */
    table {
        width: 350px;
        margin-left: 10px;
    }

    #bottom-buttons {
        justify-content: space-around;
    }

    #bottom-buttons button {
        width: 120px;
    }

    #line-img {
        width: 320px;
    }
}